sf.json
{
    "Comment": "Step Functions for Automating EMR Spark Processing",
    "StartAt": "Start EMR Cluster",
    "States": {
      "Start EMR Cluster": {
        "Type": "Task",
        "Resource": "arn:aws:states:::elasticmapreduce:createCluster.sync",
        "Parameters": {
          "Name": "Spark-EMR",
          "LogUri": "s3://car-rentalplace/emr-logs/",
          "ReleaseLabel": "emr-7.7.0",
          "Applications": [
            {
              "Name": "Hadoop"
            },
            {
              "Name": "Spark"
            },
            {
              "Name": "Hive"
            }
          ],
          "Instances": {
            "KeepJobFlowAliveWhenNoSteps": true,
            "InstanceGroups": [
              {
                "Name": "Master node",
                "Market": "ON_DEMAND",
                "InstanceRole": "MASTER",
                "InstanceType": "m5.xlarge",
                "InstanceCount": 1
              },
              {
                "Name": "Core nodes",
                "Market": "ON_DEMAND",
                "InstanceRole": "CORE",
                "InstanceType": "m5.xlarge",
                "InstanceCount": 2
              }
            ],
            "Ec2SubnetId": "subnet-068be014222fe3eeb"

          },
          "VisibleToAllUsers": true,
          "JobFlowRole": "EMR_EC2_DefaultRole",
          "ServiceRole": "EMR_DefaultRole",
          "Configurations": [
            {
              "Classification": "spark-defaults",
              "Properties": {
                "spark.driver.memory": "4g",
                "spark.executor.memory": "4g",
                "spark.executor.cores": "2"
              }
            }
          ]
        },
        "ResultPath": "$.EMROutput",
        "Next": "Parallel Processing"
      },
      "Parallel Processing": {
        "Type": "Parallel",
        "Branches": [
          {
            "StartAt": "Compute Vehicle_Location Metrics",
            "States": {
              "Compute Vehicle_Location Metrics": {
                "Type": "Task",
                "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
                "Parameters": {
                  "ClusterId.$": "$.EMROutput.ClusterId",
                  "Step": {
                    "Name": "Run Spark Job One",
                    "ActionOnFailure": "CONTINUE",
                    "HadoopJarStep": {
                      "Jar": "command-runner.jar",
                      "Args": [
                        "spark-submit",
                        "s3://car-rentalplace/spark-jobs/vehicle_location_v1.py"
                      ]
                    }
                  }
                },
                "End": true
              }
            }
          },
          {
            "StartAt": "User and Txn Metrics",
            "States": {
              "User and Txn Metrics": {
                "Type": "Task",
                "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
                "Parameters": {
                  "ClusterId.$": "$.EMROutput.ClusterId",
                  "Step": {
                    "Name": "Run Spark Job Two",
                    "ActionOnFailure": "CONTINUE",
                    "HadoopJarStep": {
                      "Jar": "command-runner.jar",
                      "Args": [
                        "spark-submit",
                        "s3://car-rentalplace/spark-jobs/user_transaction_kpis.py"
                      ]
                    }
                  }
                },
                "End": true
              }
            }
          }
        ],
        "ResultPath": "$.SparkJob2Result",
        "Next": "Trigger Glue Crawler"
      },
      "Trigger Glue Crawler": {
        "Type": "Task",
        "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
        "Parameters": {
          "Name": "kpi-crawler"
        },
        "ResultPath": "$.GlueCrawlerResult",
        "Next": "Wait For Crawler Completion"
      },
      "Wait For Crawler Completion": {
        "Type": "Wait",
        "Seconds": 120,
        "Next": "Parallel Athena Queries"
      },
      "Parallel Athena Queries": {
        "Type": "Parallel",
        "Branches": [
          {
            "StartAt": "Run Athena Query 1",
            "States": {
              "Run Athena Query 1": {
                "Type": "Task",
                "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
                "Parameters": {
                  "QueryString": "SELECT location_name, city, state, total_revenue FROM location_performance ORDER BY total_revenue DESC LIMIT 1;",
                  "QueryExecutionContext": {
                    "Database": "kpi_db"
                  },
                  "ResultConfiguration": {
                    "OutputLocation": "s3://car-rentalplace/query-results/"
                  }
                },
                "End": true
              }
            }
          },
          {
            "StartAt": "Run Athena Query 2",
            "States": {
              "Run Athena Query 2": {
                "Type": "Task",
                "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
                "Parameters": {
                  "QueryString": "SELECT vehicle_type, total_rentals FROM vehicle_type_performance ORDER BY total_rentals DESC LIMIT 1;",
                  "QueryExecutionContext": {
                    "Database": "kpi_db"
                  },
                  "ResultConfiguration": {
                    "OutputLocation": "s3://car-rentalplace/query-results/"
                  }
                },
                "End": true
              }
            }
          },
          {
            "StartAt": "Run Athena Query 3",
            "States": {
              "Run Athena Query 3": {
                "Type": "Task",
                "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
                "Parameters": {
                  "QueryString": "SELECT user_id, first_name, last_name, email, total_revenue FROM user_metrics ORDER BY total_revenue DESC LIMIT 10;",
                  "QueryExecutionContext": {
                    "Database": "kpi_db"
                  },
                  "ResultConfiguration": {
                    "OutputLocation": "s3://car-rentalplace/query-results/"
                  }
                },
                "End": true
              }
            }
          }
        ],
        "ResultPath": "$.AthenaResults",
        "Next": "Terminate EMR Cluster"
      },
      "Terminate EMR Cluster": {
        "Type": "Task",
        "Resource": "arn:aws:states:::elasticmapreduce:terminateCluster.sync",
        "Parameters": {
          "ClusterId.$": "$.EMROutput.ClusterId"
        },
        "ResultPath": "$.TerminateResult",
        "Next": "SNS Publish"
      },
      "SNS Publish": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "arn:aws:sns:us-east-1:724772083049:emr_etl",
          "Message": "EMR cluster processing completed successfully. Check results in S3."
        },
        "End": true
      }
    }
  }